/* Layout */

.ui-layout-pane {
	overflow: auto; 
}
.ui-layout-pane-north, .ui-layout-pane-south {
/*	padding: 10px 15px;	*/
}

.ui-layout-resizer { 
    background: #FFF; 
}

.ui-layout-toggler { 
    background: #FFF; 
}

.ui-layout-resizer:hover { 
    background: #AAA; 
}

.ui-layout-resizer:hover .ui-layout-toggler { 
    background: #AAA; 
}

.ui-layout-resizer:hover .ui-layout-toggler:hover { 
    background: #AAA; 
}

.ui-covered {
	overflow: hidden;
}

body {
	font-family: Helvetica, Verdana, Arial, sans-serif; 
}

h1 {
	padding: 0px;
	margin: 0px;
}

#header {
	
}

#paper {
	border: 1px solid black;
}

.descriptor {
	
}

#paper.ui-covered {
	outline: 2px solid black;	
}

.widget {
	
}

.widget.selected {
	outline: 2px solid grey;
}

.widget.ui-covered {
	outline: 2px solid black;	
}

.label {
	margin: 2px;
	padding: 2px;
}

.label.selected {
	outline: 2px solid grey;
}

.linker {
	border: 2px solid black;
	border-radius: 10px 10px;
	background-color: darkgrey;
}

.grid-15 {
	background-image: url('grid/1p15.png')
}

.grid-16 {
	background-image: url('grid/1p16.png')
}

.grid-17 {
	background-image: url('grid/1p17.png')
}

.grid-18 {
	background-image: url('grid/1p18.png')
}

.grid-19 {
	background-image: url('grid/1p19.png')
}

.grid-20 {
	background-image: url('grid/1p20.png')
}

.grid-21 {
	background-image: url('grid/1p21.png')
}

.grid-22 {
	background-image: url('grid/1p22.png')
}

.grid-23 {
	background-image: url('grid/1p23.png')
}

.grid-24 {
	background-image: url('grid/1p24.png')
}

.grid-25 {
	background-image: url('grid/1p25.png')
}
